<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.abh80.smartedge">


    <queries>
        <intent>
            <action android:name="android.intent.action.CALL" />
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".flashalert.FlashAlert"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartEdge"
        tools:targetApi="31">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".services.UpdaterService"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:hardwareAccelerated="false">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="flashalert"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PermissionActivity"
            android:exported="false"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".activities.OverlayLayoutSettingActivity"
            android:exported="false"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".activities.AppearanceActivity"
            android:exported="false"
            android:hardwareAccelerated="false" />

        <service
            android:name=".services.NotiService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.NotificationManageActivity"
            android:exported="false" />

        <service
            android:name=".services.OverlayService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/global_action_bar_service" />
        </service>
        <service
            android:name=".flashalert.tools.NotificationService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity android:name=".flashalert.ui.Informations" />
        <activity
            android:name=".flashalert.FlashMainActivity"
            android:theme="@style/PreferenceScreen"></activity>

        <activity
            android:name=".aod_edgelighting.CustomThemeActivity">
        </activity>

        <receiver
            android:name=".flashalert.EventReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".flashalert.ui.FlashTile"
            android:exported="true"
            android:icon="@drawable/ic_launcher_foreground"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>



        <service
            android:name=".aod_edgelighting.ScreenService"
            android:stopWithTask="false" />



        <service android:name=".aod_edgelighting.service.DrawServiceApply" />
        <service android:name=".aod_edgelighting.service.DrawServicePreview" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>

    </application>

</manifest>